// Utility classes

.text-center {
	text-align: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;

	&:focus {
		width: auto;
		height: auto;
		margin: 0;
		overflow: auto;
		clip: auto;
	}
}

.overflow-hidden{
	overflow: hidden;
}

.space-between{
	justify-content: space-between;
}

.is-layout-grid{
	display: grid;
}

.is-layout-grid.columns-3{
	grid-template-columns: repeat(3, 1fr);
}



.stack3d{
	transform-style: preserve-3d;
	transform: perspective(1000px);
	bottom: -40px;
}

.stack3d > *:not(:first-child){
	position: absolute;
	top: 0;
	left: 0;
}
.stack3d > *:nth-child(1){
	transform: translateZ(-40px);
}
.stack3d > *:nth-child(2){
	transform: translateZ(20px);
}
.stack3d > *:nth-child(3){
	transform: translateZ(40px);
}
.stack3d > *:nth-child(4){
	transform: translateZ(60px);
}
.stack3d > *:nth-child(5){
	transform: translateZ(80px);
}